version: '3.9'

services:
    gateway-service:
        container_name: gateway-service
        image: teacinema/gateway-service:dev
        build:
            context: .
            dockerfile: Dockerfile
        restart: always
        env_file:
            - .env.production.local
        ports:
            - '4000:4000'
        healthcheck:
            test: ['CMD', 'curl', '-f', 'http://localhost:4000/health']
            interval: 30s
            timeout: 3s
            retries: 5
        networks:
            - teacinema

networks:
    teacinema:
        external: true
