auth_enabled: false

server:
    http_listen_port: 3100

ingester:
    lifecycler:
        address: 127.0.0.1
        ring:
            kvstore:
                store: inmemory
            replication_factor: 1
    chunk_idle_period: 5m
    max_chunk_age: 1h

schema_config:
    configs:
        - from: 2020-10-24
          store: boltdb-shipper
          object_store: filesystem
          schema: v11
          index:
              prefix: index_
              period: 24h

storage_config:
    boltdb_shipper:
        active_index_directory: /loki/index
        cache_location: /loki/cache
        shared_store: filesystem
    filesystem:
        directory: /loki/chunks

limits_config:
    ingestion_rate_mb: 10
    ingestion_burst_size_mb: 20
    max_cache_freshness_per_query: 10m

compactor:
    working_directory: /loki/compactor
    shared_store: filesystem

chunk_store_config:
    max_look_back_period: 0s

table_manager:
    retention_deletes_enabled: true
    retention_period: 168h
