version: '3.9'

services:
    auth-service:
        container_name: auth-service
        image: teacinema/auth-service:dev
        build:
            context: .
            dockerfile: Dockerfile
        restart: always
        env_file:
            - .env.production.local
        expose:
            - '9101'
        volumes:
            - ../logs/auth:/var/log/services/auth
        networks:
            - teacinema

networks:
    teacinema:
        external: true
